@media only screen and (max-width: 600px) {
  #trusted {
    display: none;
  }
  
  #navbar{
      margin-bottom: 20px;
  }

#navbar .navbar-brand{
    font-size: 25px;
}

  #banner, #courses, #about, #students, #faq {
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .carousel-inner div {
    /* height: 400px; */
    object-fit: cover;

}

  .carousel-item {
    position: relative;
    height: 60vh;
  }
  .carousel-caption {
    bottom: 0px;
  }

  .carousel-caption h1 {
    font-size: 20px;
  }

  .carousel-caption p {
    padding: 0;
    font-size: 12px;
  }

  #about {
    margin: 10px;
  }

  #about .about-text {
    padding: 0 20px 20px;
  }

  .about-image {
    margin-bottom: 30px;
  }

  .about-text h1 {
    font-size: 20px;
  }

  .about-text p {
    font-size: 16px;
  }

  .about-text .count .count-box h1 {
    font-size: 25px;
  }

  #students h1 {
    font-size: 20px;
  }



  #join h1 {
    font-size: 18px;
    text-align: center;
  }

  #join p{
      font-size: 14px;
      text-align: center;
  }

  #join .container{
      padding: 30px 20px;
  }

  #students p{
      font-size: 14px;
  }

  #faq h1{
      font-size: 20px;
  }
  #faq p{
      font-size: 14px;
  }
  #faq .accordion-body{
      color : #777;
      font-size: 14px;
  }

  #footer h1{
      font-size: 25px;
  }
  #footer p{
      font-size: 14px;
  }
}
