:root {
  --ff: "Poppins", sans-serif;
}

p{
  color: #777;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* Body starts */

body {
  font-family: var(--ff);
}

/* nav starts */

#navbar .navbar-brand {
  color: #4a4a4a;
  font-size: 40px;
  font-weight: 500;
  font-family: var(--ff);
}

/* banner starts */

#banner {
  margin-bottom: 120px;
}

.carousel-item {
  position: relative;
  height: 650px;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.carousel-caption {
  bottom: 200px;
}

.carousel-caption h1 {
  font-size: 65px;
}

.carousel-caption p {
  padding: 0 150px;
  color: white;
}

#courses {
  margin-bottom: 120px;
}

#courses p{
  color: #777;
}


#about {
  margin-bottom: 120px;
}

#about .container {
  background: #f4fafd;
}

.about-image img {
  width: 100%;
}

.about-text h1 {
  font-size: 45px;
}


.about-text p {
  font-size: 16px;
  color: #777;
}

.about-text .count .count-box h1{
  font-size:45px;
}

#join {
  margin-bottom: 120px;
}

#join .container {
  background: #289bde;
  padding: 100px;
}

#join .join-btn{
  color: #289BDE;
}

#students {
  margin-bottom: 120px;
  margin-top: 120px;
}

#students h1 {
  font-size: 45px;
  margin-bottom: 10px;
}

#students p {
  margin-bottom: 40px;
}

#students .student img {
  width: 100%;
}

#students .student .student-text {
  padding: 15px;
}

#students .student .student-text h1 {
  font-size: 20px;
}

#students .student .student-text p {
  font-size: 16px;
  color: #3c3c3c;
}

#faq h1 {
  margin-bottom: 10px;
  font-size: 30px;
}

#faq p {
  margin-bottom: 40px;
}

#faq{
  margin-bottom: 120px;
}

#footer{
  background: #161616;
  margin-top: 120px;
}



#footer .social-icons a{
  width: 40px;
  height: 40px;
  padding: 10px 13px;
  border-radius: 50%;
  background: #242424;
  margin: 0 5px;
}

#footer .social-icons a i{
  color: white;
}